javaHG.username=
javaHG.password=
ICIS_Mercurial_Repository.username=
ICIS_Mercurial_Repository.password=
ICIS_Jira_IssueTracker.username=
ICIS_Jira_IssueTracker.password=
ICIS_Oracle_Database.username=
ICIS_Oracle_Database.password=
